body {
    font-family: sans-serif;
    background-color: rgb(105, 90, 133);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color :white;
    position: relative;
    
}
button{
    margin: 10px;
    border: none;
    border-radius: 5px;
    outline: none;
    background-color:rgb(140, 151, 199) ;
    color: white;
    cursor: pointer;
    
}
#thePlayerChoice,#theCpuChoice{
    background-color: rgb(162, 146, 190);
    margin: 10px;
    border-radius: 2px;
    width: 260px;
    align-items: center;
    min-height: 110px;
    display: flex;  
    justify-content: space-between;
    border-radius: 10px;
    flex-direction: column;
}
.outro{
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 400px;
   height: 400px;
   justify-content: space-between;
   opacity: 1;
   background-color: rgb(162, 146, 190) ;
   border-radius: 20px;
   position: fixed;
   opacity: 0;
   pointer-events: none;
   

}
.fadeIn{
    opacity: 1;
    pointer-events: all;
    transition: 2s ease-in-out;
    transition-delay: 2.5s;
}
.fadeOut{
    opacity: 0;
    pointer-events: none;
}
#playAgin{
    position:absolute;
    bottom: 100;
}
.cpuImg{
    transform: rotatey(180deg);
    
}
.pImg{
    transform: translatey(0);
}
.choises{
    display: flex;
}
@keyframes pshaking {
    0%{
        transform: translatey(0);
    }
    15%{
        transform: translatey(-50px);
    }
    30%{
        transform: translate(0);
    }
    45%{
        transform: translatey(-50px);
    }
    60%{
        transform: translatey(0);
    }
    75%{
        transform: translatey(-50px);
    }
    100%{
        transform: translatey(0);
    }
   
}
@keyframes cpushaking{
    0%{
        transform:rotatey(180deg) translatey(0);
    }
    15%{
        transform:rotatey(180deg) translatey(-50px);
    }
    30%{
        transform:rotatey(180deg) translatey(0);
    }
    45%{
        transform:rotatey(180deg) translatey(-50px);
    }
    60%{
        transform:rotatey(180deg) translatey(0);
    }
    75%{
        transform:rotatey(180deg) translatey(-50px);
    }
    100%{
        transform:rotatey(180deg) translatey(0);
    }
}
