body {
    font-family: sans-serif;
    background-color: rgb(105, 90, 133);
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color :white;
    position: relative;
    
}
div{
    display: flex;
    align-items: center;    
}
.score{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.scoreBoard{
    width: 300px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}
button{
    margin: 10px;
    border: none;
    border-radius: 5px;
    outline: none;
    background-color:rgb(140, 151, 199) ;
    color: white;
    cursor: pointer;
    
}
#thePlayerChoice,#theCpuChoice{
    background-color: rgb(162, 146, 190);
    margin: 10px;
    border-radius: 2px;
    width: 260px;
    align-items: center;
    min-height: 110px;
    display: flex;  
    justify-content: space-between;
    border-radius: 10px;
    flex-direction: column;
}
.outro{
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 400px;
   height: 400px;
   justify-content: space-between;
   opacity: 1;
   background-color: rgb(162, 146, 190) ;
   border-radius: 20px;
   position: fixed;
   opacity: 0;
   pointer-events: none;
   

}

#playAgin{
    position:absolute;
    bottom: 100;
}
.cpuImg{
    transform: rotatey(180deg);
    max-width: 100px;
}
.pImg{
    transform: translatey(0);
    max-width: 100px;
}
.choises{
    display: flex;
}
.options{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    height: 400px;
    justify-content: space-between;
    opacity: 1;
    background-color: rgb(162, 146, 190) ;
    border-radius: 20px;
    position: fixed;
    opacity: 0;
    pointer-events: none;
}
.fadeIn{
    opacity: 1;
    pointer-events: all;
    transition: 2s ease-in-out;
    transition-delay: 2.5s;
}
.fadeOut{
    opacity: 0;
    pointer-events: none;
}
.fadeInOptions{
    opacity: 1;
    pointer-events: all;
    
}
.opItem{
width: 300px;
display: flex;
justify-content:space-around;
background-color: rgb(194, 180, 218);
margin: 30px;
align-items: center;
border-radius:20px;
}
select,input{
    border: none;
    outline: none;
    border-radius: 20px;
    background-color: rgb(222, 222, 245);
}
.numbers{
    width: 30px;
}

@keyframes pshaking {
    0%{
        transform: translatey(0);
    }
    15%{
        transform: translatey(-50px);
    }
    30%{
        transform: translate(0);
    }
    45%{
        transform: translatey(-50px);
    }
    60%{
        transform: translatey(0);
    }
    75%{
        transform: translatey(-50px);
    }
    100%{
        transform: translatey(0);
    }
   
}
@keyframes cpushaking{
    0%{
        transform:rotatey(180deg) translatey(0);
    }
    15%{
        transform:rotatey(180deg) translatey(-50px);
    }
    30%{
        transform:rotatey(180deg) translatey(0);
    }
    45%{
        transform:rotatey(180deg) translatey(-50px);
    }
    60%{
        transform:rotatey(180deg) translatey(0);
    }
    75%{
        transform:rotatey(180deg) translatey(-50px);
    }
    100%{
        transform:rotatey(180deg) translatey(0);
    }
}
